.sidebar {
	position: relative;
	height: calc(100vh - var(--navbar-height) - 70px);
	width: var(--sidebar-width);
	background-color: var(--inverted-bg-color);
	transition: width 0.3s ease-in-out;

	&__btn {
		// position: absolute;
		width: 100%;
		padding: 1rem 0;
	}
}

.collapsed {
	width: var(--sidebar-width-collapse);
}

.switchers {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	bottom: 20px;
}

.lang {
	margin: 0 20px;
}

.navbar {
	margin-top: 1rem;

	&__list {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: start;
	}

	&__item {
		margin: 5px 20px;
		font-size: 1em;
		list-style-type: none;
		color: blue;
	}

	&__link {
		color: rgb(61 61 255);
		transition: color 0.5s linear;

		span {
			display: flex;
			align-items: center;
		}

		.inner_text {
			display: flex;
			align-items: center;

			span {
				white-space: nowrap;
				margin-left: 10px;
			}
		}

		svg {
			fill: var(--inverted-secondary-color);
			transition: fill 0.3s ease;
		}

		&:hover {
			color: rgb(148 148 148);

			svg {
				fill: red;
			}
		}
	}
}
