.btn {
	cursor: pointer;
}

.primary {
	display: inline-block;
	background-color: var(--bg-color);
	color: #000;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 1rem 2rem;
	margin: 2px 4px;
	border-radius: 8px;
	font-size: 1rem;
	text-align: center;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #fab958;
	}
}

.secondary {
	background-color: #4caf50;
	border: none;
	color: #fff;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 4px 2px;
	border-radius: 8px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #45a049;
	}
}

.outline {
	background: none;
	border: 1px solid #2d8fff;
	padding: 1rem 2rem;
	outline: none;
	color: #2d8fff;
	text-align: center;
	text-decoration: none;
	transition: all color 0.3s ease;
	border-radius: 8px;

	&:hover {
		color: #9fccff;
		border-color: #9fccff;
	}
}

.clear {
	border: none;
	background: none;
	padding: 0;
	outline: none;
	color: var(--bg-color);
}
