.btn {
	cursor: pointer;
}

.primary {
	display: inline-block;
	background-color: #fc9c0c;
	color: #000;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 1rem 2rem;
	margin: 2px 4px;
	border-radius: 8px;
	font-size: 1rem;
	text-align: center;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #fab958;
	}
}

.secondary {
	background-color: #4caf50;
	border: none;
	color: #fff;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 4px 2px;
	border-radius: 8px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #45a049;
	}
}

.outline {
	background: none;
	border: 1px solid #2d8fff;
	padding: 1rem 2rem;
	outline: none;
	color: #2d8fff;
	text-align: center;
	text-decoration: none;
	transition: all color 0.3s ease;
	border-radius: 8px;

	&:hover {
		color: #9fccff;
		border-color: #9fccff;
	}
}

.clear {
	border: none;
	background: none;
	padding: 0;
	outline: none;
	color: var(--bg-color);
}

.background {
	background-color: var(--bg-color);
	color: var(--primary-color);
	outline: none;
	border: none;
	text-align: center;
	transition: color 0.3s ease;

	&:hover {
		color: var(--inverted-primary-color);
	}
}

.background-inverted {
	background-color: var(--inverted-bg-color);
	color: var(--inverted-secondary-color);
	border: none;
	outline: none;
	text-align: center;
}

.square.size_M {
	width: var(--font-line-m);
	height: var(--font-line-m);
	font: var(--font-m);
}
.square.size_L {
	width: var(--font-line-l);
	height: var(--font-line-l);
	font: var(--font-l);
}
.square.size_XL {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
	font: var(--font-xl);
}

.size_M {
	font: var(--font-m);
}
.size_L {
	font: var(--font-m);
}
.size_XL {
	font: var(--font-m);
}
