.header {
	padding: 40px 0;
	background-color: var(--inverted-bg-color);
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.inner {
	height: var(--navbar-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		margin: 0 10px;
		font-size: 1em;
		list-style-type: none;
		color: blue;
	}

	&__link {
		color: rgb(61, 61, 255);
		transition: color 0.5s linear;

		&:hover {
			color: rgb(148, 148, 148);
		}
	}
}

.user-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		margin: 0 10px;
		list-style-type: none;

		&:hover a {
			color: blue;
			cursor: pointer;
		}
	}
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
